*{
    margin: 0;
    padding: 0;
}
.row{
    margin: 0;
    padding: 0;
}
.next {
    position: absolute;
    right: 50px;
}
.output {
    margin-bottom: 50px;
}
.news {
    margin-top: 50px;
}
.footer{
    width: 100%;
    height: 70px;
    background-color: #111;
    color: aliceblue;
    padding-top: 20px;
}

.loading, .btnloader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid blue;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}